* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

h1 { text-align:center; margin-top:150px;}

.itm {
	border: 1.5px solid #19b0b7;
}

.msrItems {
	text-align:center;
	   margin: 30px;
}
.msrItem { border-radius:5px;
	height:auto;}
	
	.msrItem img { display:block;    margin: 0 auto;padding:20px;}